$color-primary: #2E86C1;
$color-primary-light: #5DADE2;
$color-primary-dark: #2874A6;

$color-light: #fbfcfc;
$color-lighten-1: #f0f3f4;
$color-lighten-2: #ecf0f1;
$color-dark: #1B2631;
$color-darken-1: #212f3d;
$color-darken-2: #34495E;
$color-danger: #CB4335;

$grid-width: 114rem;
$gutter-horizontal: 2rem;
$gutter-vertical: 0.5rem;