@import '../../assets/scss/variables';

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;

    &--right {
        text-align: right;

        span {
            display: inline-block;
            text-transform: uppercase;
            padding: 0 .5rem;

            &:hover {
                cursor: pointer;
                font-weight: bold;
                color: $color-primary;
            }
        }    
    }
}